<!DOCTYPE html>
<html ng-app>
	<head>
			
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			
			<!-- incluir Bootstrap  -->
			<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

			<!-- incluir angularJS -->
			<script src="js/lib/angular.min.js"></script>
	</head>
	<body>
					
			<div class="container">
				<h1>ng-model</h1>	
				<h4>en angularJS</h4>	

				<p>
					Nombre completo:
					<br/>
					<input class="form-control" type="text" ng-model="nombre" name="form-control" placeholder="Ingrese su nombre ">	
				</p>
				<p>
					Lugar de trabajo:
					<br/>
					<input class="form-control" type="text" ng-model="trabajo" name="form-control" placeholder="Ingrese su nombre ">
				</p>
				<p>
					Salario en Dólares:
					<br/>
					<input class="form-control" type="text" ng-model="salario" name="form-control" placeholder="Ingrese su nombre ">
				</p>

				<p>
					Nombre: {{ nombre }}
					<br/>
					Lugar de Trabajo: {{ trabajo }}
					<br/>
					Con un salario de: {{ salario | currency }}
				</p>				
			</div>

	</body>
</html>