<!DOCTYPE html>
<html ng-app>
	<head>
			
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
			
			<!-- incluir Bootstrap  -->
			<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

			<!-- incluir angularJS -->
			<script src="js/lib/angular.min.js"></script>
	</head>
	<body>
					
			<div class="container">
				<h1>ng-model</h1>	
				<h4>en angularJS</h4>	

				<p>
					Su nombre: {{ nombre | uppercase }}
					<br/>
					<input class="form-control" type="text" ng-model="nombre" name="form-control" placeholder="Ingrese su nombre ">	
				</p>							
				<p>
					Seleccione el País: {{ pais }}
					<select class="form-control" ng-model="pais">
						<option value="1">Costa Rica</option>
						<option value="2">México</option>
						<option value="3">Colombia</option>					
					</select>				
				</p>
				<p>
					Seleccione las opciones que desea: {{ opt1 }}  {{ opt2 }}
					<br/>
					<input  type="checkbox" ng-model="opt1">Opción 1
					<br/>
					<input  type="checkbox" ng-model="opt2">Opción 2
				</p>

				<p>
					Seleccione las opciones que desea: {{ genero }}  
					<br/>
					<input  type="radio" value="M" ng-model="genero">Opción 1
					<br/>
					<input  type="radio" value="F" ng-model="genero">Opción 2
				</p>

			</div>

	</body>
</html>